@import 'abstracts/settings';
@import 'foundation';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

body {
  overflow-x: hidden;
}

.section-wrapper {
  background: #111;
  flex-flow: row nowrap;
  height: 100vh;
  width: 200vw;
}

.section--top-level {
  flex: 0 0 100vw;
  height: 100vh;
  transform: translateY(0);
  transition: transform 2s;

  &.did-welcome {
    transform: translateY(-100vh);
  }
}

.section--welcome {
  position: relative;

  &__speech-bubble {
    animation: blink-svg 3s linear 1s 1 forwards;
    filter: drop-shadow(0 -1px 1px #222);

    path {
      animation: blink-svg 3s linear 1s 1 forwards;
      fill: transparent;
      stroke: #000;
      stroke-width: 4px;
    }
  }

  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 200px;
    line-height: 1;
    margin: -35px 0 0;
    transform: translate3d(-50%, -50%, 0);

    span {
      height: 100%;
      overflow: hidden;
    }

    b {
      position: relative;
      left: -9999px;
      color: #fff;
      display: block;
      font-weight: 100;
      opacity: 0;
      text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #0078fc, 0 0 .5em #0078fc, 0 0 .1em #0078fc, 0 10px 3px #000;

      &.visible {
        left: 0;
        opacity: 1;
      }

      &.current {
        &::after {
          position: absolute;
          bottom: 20px;
          left: 0;
          animation: blink 1s linear 0s infinite alternate;
          background: #fff;
          box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #0078fc, 0 0 .5em #0078fc, 0 0 .1em #0078fc, 0 10px 3px #000;
          content: "";
          height: 2px;
          width: 100%;
        }
      }
    }
  }
}

.section--home {
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink-svg {
  0% {
    filter: drop-shadow(0 -1px 1px #222);
    stroke: #000;
  }
  77% {
    filter: drop-shadow(0 -1px 1px #222);
    stroke: #000;
  }
  78% {
    filter: drop-shadow(0 -40px 100px #dbeafb) drop-shadow(0 0 2px #dbeafb) drop-shadow(0 0 1em #0078fc) drop-shadow(0 0 .5em #0078fc) drop-shadow(0 0 .1em #0078fc) drop-shadow(0 10px 3px #000);
    stroke: #a7cef9;
  }
  79% {
    stroke: #333;
  }
  80% {
    filter: none;
  }
  81% {
    filter: drop-shadow(0 -40px 100px #dbeafb) drop-shadow(0 0 2px #dbeafb) drop-shadow(0 0 1em #0078fc) drop-shadow(0 0 .5em #0078fc) drop-shadow(0 0 .1em #0078fc) drop-shadow(0 10px 3px #000);
    stroke: #a7cef9;
  }
  82% {
    stroke: #333;
    filter: none;
  }
  83% {
    filter: drop-shadow(0 -40px 100px #dbeafb) drop-shadow(0 0 2px #dbeafb) drop-shadow(0 0 1em #0078fc) drop-shadow(0 0 .5em #0078fc) drop-shadow(0 0 .1em #0078fc) drop-shadow(0 10px 3px #000);
    stroke: #a7cef9;
  }
  92% {
    stroke: #333;
    filter: none;
  }
  92.5% {
    filter: drop-shadow(0 -40px 100px #dbeafb) drop-shadow(0 0 2px #dbeafb) drop-shadow(0 0 1em #0078fc) drop-shadow(0 0 .5em #0078fc) drop-shadow(0 0 .1em #0078fc) drop-shadow(0 10px 3px #000);
    stroke: #a7cef9;
  }
  100% {
    filter: drop-shadow(0 -40px 100px #dbeafb) drop-shadow(0 0 2px #dbeafb) drop-shadow(0 0 1em #0078fc) drop-shadow(0 0 .5em #0078fc) drop-shadow(0 0 .1em #0078fc) drop-shadow(0 10px 3px #000);
    stroke: #a7cef9;
  }
}
